<!DOCTYPE html>
<HTML>
    <head>
        <title>Data Page for the Final Project</title>
        <meta charset = "UTF-8">
        <meta name = "description" content = "This contains information about our data and a link to some samples and back to the landing page.">
    </head>
    <body>
        <p> Our dataset conatins 16,185 images with 196 classes of cars.</p>
        <p> The data is split into 8,144 training images and 8,041 testing images, with a rough 50-50 split among the classes</p>
        <p> The classes are based on things like Make, Model, and Year</p>
        <ul> 
            <li> <a href = "http://ai.stanford.edu/~jkrause/cars/car_dataset.html"> A link to our dataset</a></li>
            <li> <a href = "http://localhost:5000/data/sample"> To some samples of our data</a> </li>
            <li> <a href = "http://localhost:5000/test"> To test our ML model</a></li>
        </ul>
    </body>
</HTML>