<!DOCTYPE html>
<HTML>
    <head>
        <title>Landing page for Final Project</title>
        <meta charset = "UTF-8">
        <meta name = "description" content = "This is the landing page. It connects to the data and testing page.">
    </head>
    <body>
        <img src="{{ landing_image }}" alt="A fancy example of our model" height = "250" width="250">
        <ul>
            <li> <a href = "http://localhost:5000/data"> To our data</a> </li>
            <li> <a href = "http://localhost:5000/test"> To test out ML model</a></li>
        </ul>
    </body>
</HTML>